{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    {% block content %}
        <div class="py-3 m-auto text-center">
            <h2 class="text-success py-5" > {{ success }}</h2>
            <h1 class="display-1 text-success pb-5"><i class="h1 fa-solid fa-check fa-lg "></i></h1>
        </div>
        <!-- <a href="{% url 'home' %}">Home</a> -->
    {% endblock %}
</body>
</html>