{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% block content %}
        <div class="container-fluid hero text-white">
            <div class="row py-3 px-3">
                <div class="col-sm-12 col-lg-8">
                    <div class="px-2 pb-5">
                        <h1 class="display-4"> {{ motto }} </h1>
                        <p class="text-bold">{{ about }}</p>
                    </div>
                    <div class="pt-5 flex">
                        <a class="h4 btn btn-primary px-3" href="#"><span class="pe-1 fa fa-play"></span> Offer service </a>
                        <a class="h4 btn btn-dark px-3" href="#"><span class="pe-1 fa fa-user-tie"></span> Hire Professional </a>
                    </div>
                </div>
    {% endblock %}
    {% block services %}
                <div id="service-lg" class="col-sm-12 col-lg-4 text-center my-3"> <!--hide in small screen-->
                    <div class="m-auto bg-white rounded">
                        <h3 class="text-dark py-2">Services</h3>
                        <div class="divider pt-1 bg-dark"></div>
                        <br>
                            {% for service in services %}
                                <button class="btn btn-mute"><a class="page-link bg-dark text-white" href="#">{{ service }}</a></button></br>
                            {% endfor %}
                            <p class="py-3 text-dark">Contact us Now...</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block services-sm %}
        <div class="container-fluid">
            <div id="service-sm" class="col-sm-12 text-center my-3"> <!--hide in small screen-->
                <div class="m-auto bg-white rounded">
                    <h3 class="text-dark py-2">Services</h3>
                    <div class="divider pt-1 bg-dark"></div>
                    <br>
                        {% for service in services %}
                            <button class="btn btn-mute"><a class="page-link bg-dark text-white" href="#">{{ service }}</a></button></br>
                        {% endfor %}
                        <p class="py-3 text-dark">Contact us Now...</p>
                </div>
            </div>
        </div>
    {% endblock %}

    <!-- Professionals profile -->
    {% block card %}
    <h3 class="text-center bg-danger text-white py-4">About the Developer</h3>
        <div class="container">
            <div class="row justify-content-center py-3">
                <div class="col-lg-6 col-sm-12">
                    <h1 class="display-1 text-center"><i class="fa-solid fa-user-tie"></i></h1>
                    <p>{{ developer }}</p>
                    <div class="text-center">
                        <a class="h4 btn btn-primary px-3" href="{% url 'home' %}"><span class="pe-1 fa-solid fa-handshake"></span> AnyWork </a>
                    </div>
                    <div class="text-center d-flex justify-content-center pt-3">
                        <h4 class="display-6"><a class="link text-dark" href="https://github.com/jubriltayo/anywork"><span class="pe-4 fa-brands fa-github"></span></a></h4>
                        <h4 class="display-6"><a class="link text-dark" href="https://twitter.com/Tayo_Jubril"><span class="pe-4 fa-brands fa-twitter"></span></a></h4>
                        <h4 class="display-6"><a class="link text-dark" href="https://linkedin.com/in/jubril-tayo"><span class="pe-4 fa-brands fa-linkedin"></span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>