{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} AnyWork {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">


    {%comment%} <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script> 
    {%endcomment%}

</head>
<body>
    <header>    
        {% block topic %}
            <h1 class="px-5 py-3 mb-0">AnyWork</h1>
        {% endblock %}

        
        {% block header %}
        {% endblock %}


        {% block content %}
            <h1>This is the base</h1>
        {% endblock %}


        {% block services %}
        {% endblock %}
    </header>

    {% block card %}
    {% endblock %}


    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>