{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} AnyWork {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    
    
    <!-- <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css"> -->
    <!-- <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> -->


    <!-- <script src="{% static 'fontawesomefree/css/all.min.css' %}"></script>  -->

</head>
<body>
    <header>    
        {% block topic %}
            <a class="link" href="{% url 'home' %}"><h1 class="px-4 py-3 mb-0 text-white topic font-family-sans-serif"><i class="pe-2 fa-solid fa-handshake fa-shake"></i> AnyWork</h1></a>
        {% endblock %}

        
        {% block header %}
        {% endblock %}


        {% block content %}
            <h1>This is the base</h1>
        {% endblock %}


        {% block services %}
        {% endblock %}
        
        
        {% block services-sm %}
        {% endblock %}
    </header>

    {% block card %}
    {% endblock %}


    <footer class="bg-dark text-white text-center py-3">
        {% include "footer.html" %}
    </footer>
</body>
</html>