{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% block content %}
        <div class="container-fluid hero text-white">
            <div class="row pt-3 px-3">
                <div class="col-sm-12 col-lg-8">
                    <div class="px-2 pb-5">
                        <h1 class="display-4"> {{ motto }} </h1>
                        <p class="text-bold">{{ about }}</p>
                    </div>
                    <div class="pt-5">
                        <a class="h4" href="{% url 'professional-create' %}"><span class="fa fa-play"></span> Offer service </a>
                    </div>
                </div>
    {% endblock %}
    {% block services %}
                <div class="col-sm-12 col-lg-4">
                    <div class="m-auto">
                        <h3>Services</h3>
                            {% for service in services %}
                                <button><a href="professional/{{service}}">{{ service }}</a></button></br>
                            {% endfor %}
                    </div>
                </div>
    {% endblock %}
            </div>
        </div>



    <!-- Professionals profile -->
    {% block card %}
        {% for item in object_list %}
            <h4>{{item.name }}</h4>
            <p>{{ item.service }}</p>
            <p>{{ item.qualification }}</p>
            <p>{{ item.years_of_experience }}</p>
            <button>{{ item.price }}</button>

        {% endfor %}
    {% endblock %}

</body>
</html>