.hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-image: url('../images/hero3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}

.topic {
    background-color:midnightblue;
}

.link {
    text-decoration: none;
}

@media (max-width: 991px) {
    #service-lg {
        display: none;
    }
    #service-sm {
        display:block;
    }
}

@media (min-width: 992px) {
    #service-lg {
        display: block;
    }
    #service-sm {
        display:none;
    }
}