{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block header %}
        <h2>Our Esteemed Professionals</h2>
    {% endblock %}

    {% block content %}
        <h4>{{ object.name }}</h4>
        <p>{{ object.service }}</p>
        <p>{{ object.phone_number }}</p>
        <p>{{ object.email }}</p>
        <p>{{ object.address }}</p>
        <p>{{ object.qualification }}</p>
        <p>{{ object.years_of_experience }}</p>
        <p>{{ object.price }}</p>
    {% endblock %}
</body>
</html>